
<div *ngIf="transformer">
    <h2><span>Transformer</span> {{transformer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span ngbTooltip="The name of the Transformer.">Name</span></dt>
        <dd>
            <span>{{transformer.name}}</span>
        </dd>
        <dt><span ngbTooltip="The power level of the Transformer.">Power</span></dt>
        <dd>
            <span>{{transformer.power}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transformer/'+ transformer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
