<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransformerLabel">Create or edit a Transformer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transformer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transformer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name" ngbTooltip="The name of the Transformer.">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="transformer.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_power" ngbTooltip="The power level of the Transformer.">Power</label>
            <input type="number" class="form-control" name="power" id="field_power"
                [(ngModel)]="transformer.power" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
